# Keil uVision 项目文件（临时/本地）
*.uvopt
*.uvoptx
*.uvgui
*.uvguix.xf   
*.uvprojx

# 编译输出
*.axf
*.hex
*.o
*.d
*.crf
*.elf
*.map
*.lst
*.lnp
*.uvprojx.Backup
*.bak

# Keil 生成的中间文件夹
Objects/
Listings/
Build/
RTE/
DebugConfig/

# STM32CubeMX 生成的临时目录
Debug/
Release/

# VSCode
.vscode/

# 系统文件
Thumbs.db
*.log
*.swp
*.swo
*.tmp
.DS_Store
